<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>更改密码</title>
</head>
<body>

<h1 align="center">更改密码</h1>
<form action="" method="get">
  <table align="center">
    <tr>
      <td align="right"><lable for="password">旧密码：</lable></td>
      <td><input type="password" name="password" required pattern="[a-zA-Z]\w{5,17}$" id="password" value="" placeholder="请输入您的旧密码"></td>
    </tr>
    <tr>
      <td align="right"><lable for="password">新密码：</lable></td>
      <td><input type="password" name="password" required pattern="[a-zA-Z]\w{5,17}$" id="password" value="" placeholder="请输入您的新密码"></td>
    </tr>
    <tr>
      <td></td>
      <td>字母开头，长度在6~18之间，只能包含大小写字母、数字和下划线</td>
    </tr>
    <tr>
      <td align="right"><lable for="password2">确认新密码：</lable></td>
      <td><input type="password" name="password2" required pattern="[a-zA-Z]\w{5,17}$" id="password2" value="" placeholder="请再输入一遍新密码"></td>
    </tr>
  </table>
  <div align="center">
    <input type="submit" value="更改密码">
    <input type="reset" value="重置">
    <p><a href="userEditFrontPage.html">上一页</a></p>
  </div>
</form>

</body>
</html>