<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>用户信息更新</title>
</head>
<body>

<h1 align="center">用户信息更新</h1>
<form action="" method="get">
  <table align="center">
    <tr>
      <td align="right"><lable for="name">真实姓名：</lable></td>
      <td><input type="text" name="name" placeholder="请输入您的真实姓名"></td>
    </tr>
    <tr>
      <td align="right"><lable for="myemail">电子邮箱：</lable></td>
      <td><input type="email" name="myemail" placeholder="请输入您的电子邮箱">必须包含@字符</td>
    </tr>
    <tr>
      <td align="right"><lable for="address">地址：</lable></td>
      <td><input type="text" name="address" id="address" value="" placeholder="请输入您的家庭住址"></td>
    </tr>
    <tr>
      <td align="right"><lable for="phone number">手机号码：</lable></td>
      <td><input type="text" name="phone number" id="phone number" value="" placeholder="请输入您的手机号码"></td>
    </tr>
  </table>
  <div align="center">
    <input type="submit" value="更新信息">
    <input type="reset" value="重置">
    <p><a href="userEditFrontPage.html">上一页</a></p>
  </div>
</form>

</body>
</html>
