<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>用户信息更新</title>
</head>
<body>

<h1 align="center">用户信息更新</h1>
<form action="" method="post">
  <table align="center">
  </table>
  <div align="center">
    <a href="infoUpdate.html"><button type="button">用户信息更新</button></a>
    <a href="changePassword.html"><button type="button">密码更改</button></a>
    <p><a href="">返回</a></p>
  </div>
</form>

</body>
</html>