<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>重大传染病疫情流调系统登录</title>
</head>
<body>

<h1 align="center">用户登录</h1>
<form action="" method="post">
    <table align="center">
        <tr>
            <td align="right"><lable for="myemail">邮箱：</lable></td>
            <td><input type="email" name="myemail" required placeholder="请输入您注册的邮箱登录"></td>
        </tr>
        <tr>
            <td align="right"><lable for="password">密码：</lable></td>
            <td><input type="password" name="password" required pattern="[a-zA-Z]\w{5,17}$" id="password" value="" placeholder="请输入您的密码"></td>
        </tr>
    </table>
    <div align="center">
        <input type="submit" value="用户登录"">
        <input type="submit" value="管理员登录">
        <p>没有账号？<a href="http://localhost:63342/%E9%87%8D%E5%A4%A7%E4%BC%A0%E6%9F%93%E7%97%85%E7%96%AB%E6%83%85%E6%B5%81%E8%B0%83%E7%B3%BB%E7%BB%9F/HTML/%E7%94%A8%E6%88%B7%E6%B3%A8%E5%86%8C%E9%A1%B5%E9%9D%A2.html?_ijt=l6c4kpqo7pe72aqmatcktl370j">点击注册</a></p>
    </div>
</form>

</body>
</html>